{% extends "layouts/base-site.html" %}

{% block title %} EDIT - Materiels {% endblock %}

{% block content %}

<form method="POST" class="post-form" action="/materiels/update/{{ millesime.annee }}">
        {% csrf_token %}
    <div class="container">
<div class="row">
  <div class="col-sm-8">
    <div class="card">
      <div class="card-header">Mise à jour du materiel {{ materiel.nom }}</div>
      <div class="card-body">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text">Nom du materiel:</span></div>
              <input class="form-control" id="id_annee" type="text" name="annee" value="{{ materiel.nom }}">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text">Nom du millesime :</span></div>
              <input class="form-control" id="id_nomMillesime" type="text" name="nomMillesime" value="{{ materiel.type }}">
            </div>
          </div>
          <div class="form-group form-actions">
            <button class="btn btn-sm btn-primary" type="submit">Modifier</button>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
</form>

{% endblock content %}

{% block javascripts %}
<!-- Specific Page JS goes HERE  -->
{% endblock javascripts %}
