{% extends "layouts/base-site.html" %}
{% load static %}
{% load common_tags %}

{% block title %} EDIT - Benne {% endblock %}

{% block content %}

<form method="POST" class="post-form" action="/vendange/bennes/update/{{ benne.id }}">
  {% csrf_token %}
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header">Mise à jour de la benne {{ benne.idBenne }}</div>
          <div class="card-body">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">N° Benne</span></div>
                <input class="form-control" id="id_idBenne" type="text" name="idBenne" value="{{ benne.idBenne }}">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">Benne:</span></div>
                <select name="idMateriel" class="form-control" id="id_idMateriel">
                  {% for ben in lesbennes %}
                  <option value="{{ben.id}}" {% if ben == benne.benne %} selected {% endif %}>{{ben.nom}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">Date de reception :</span></div>
                <input class="form-control" id="id_dateRecep" type="text" name="dateRecep"
                  value="{{ benne.dateRecep }}">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">Densite :</span></div>
                <input class="form-control" id="id_densite" type="text" name="densite" value="{{ benne.densite|asfloat }}">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">Temperature :</span></div>
                <input class="form-control" id="id_temperature" type="text" name="temperature"
                  value="{{ benne.temperature|asfloat }}">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">Alcool Probable :</span></div>
                <input class="form-control" id="id_alcProb" type="text" name="alcProb" value="{{ benne.alcProb|asfloat }}">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-8">
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text">So2 :</span></div>
                  <input class="form-control" id="id_so2" type="text" name="so2" value="{{ benne.so2|asfloat }}">
                </div>
              </div>
              <div class="form-group col-sm-4">
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text">% So2 :</span></div>
                  <input class="form-control" id="id_pourcentSO2" type="text" name="pourcentSO2" value="{{ benne.pourcentSO2|asfloat }}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">Meteo :</span></div>
                <input class="form-control" id="id_meteo" type="text" name="meteo" value="{{ benne.meteo }}">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">Commentaire :</span></div>
                <input class="form-control" id="id_commentaire" type="text" name="commentaire" value="{{ benne.commentaire }}">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">Parcelles :</span></div>
                {{form.parcelles}}
                <table style="display: none">
                  {{ view.formset.empty_form }}
                </table>

                <table>
                  {{ view.formset }}
                </table>
              </div>
            </div>
            <div class="form-group form-actions">
              <button class="btn btn-sm btn-primary" type="submit">Modifier</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock content %}

{% block javascripts %}
<!-- Specific Page JS goes HERE  -->
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form.media }}

<script>
  (function ($) {
    $('#add-form').click(function () {
      var index = $('#id_inline_test_models-TOTAL_FORMS').val()
      var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
      newTable.find(':input').each(function () {
        for (attr of ['name', 'id'])
          $(this).attr(
            attr,
            $(this).attr(attr).replace('__prefix__', index)
          )
      })
      newTable.insertBefore($(this))
      $('#id_inline_test_models-TOTAL_FORMS').val(
        parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
      )
      newTable.slideDown()
    })
  })($)
</script>
{% endblock javascripts %}