{% extends "layouts/base-site.html" %}

{% block title %} SHOW - Bennes {% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header"><i class="fa fa-align-justify"></i> Liste des bennes</div>
      <div class="card-body">
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>N° Benne</th>
              <th>Benne</th>
              <th>Date de reception</th>
              <th>Densite</th>
              <th>Temperature</th>
              <th>Alcool Probable</th>
              <th>So2</th>
              <th>Commentaire</th>
              <th>Meteo</th>
              <th>Operateur</th>
              <th>Parcelles</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for benne in bennes %}
            <tr>
              <td>{{ benne.idBenne }}</td>
              <td>{{ benne.benne.nom }}</td>
              <td>{{ benne.dateRecep }}</td>
              <td>{{ benne.densite }}</td>
              <td>{{ benne.temperature }}</td>
              <td>{{ benne.alcProb }}</td>
              <td>{{ benne.so2 }} à {{ benne.pourcentSO2 }} %</td>
              <td>{{ benne.commentaire }}</td>
              <td>{{ benne.meteo }}</td>
              <td>{{ benne.operateur }}</td>
              <td>{% for parcelle in benne.parcelles.all %}
                {{ parcelle.nomParcelle }}</br>
                {% endfor %}</td>
              <td>
                <a href="edit/{{ benne.id }}"><span class="badge badge-warning">Modifier</span></a>
                <a href="delete/{{ benne.id }}"><span class="badge badge-danger">Supprimer</span></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <center><a href="create" class="btn btn-primary">Ajouter une nouvelle benne</a></center>
      </div>
    </div>
  </div>
  <!-- /.col-->
</div>
<!-- /.row-->
{% endblock content %}

{% block javascripts %}
<!-- Specific Page JS goes HERE  -->
{% endblock javascripts %}