{% extends "layouts/base-site.html" %}

{% load common_tags %}

{% block title %} EDIT - Benne {% endblock %}

{% block content %}

<form method="POST" class="post-form" action="/vendange/marcs/update/{{ data.id }}">
  {% csrf_token %}
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header">Mise à jour du marc N°{{ data.idMarc }}</div>
          <div class="card-body">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">N° Marc</span></div>
                <input class="form-control" id="id_idMarc" type="text" name="idMarc" value="{{ data.idMarc }}">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">Volume du Marc :</span></div>
                <input class="form-control" id="id_volumeMarc" type="text" name="volumeMarc"
                  value="{{ data.volumeMarc|asfloat }}">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">Pressoir:</span></div>
                <select name="pressoire" class="form-control" id="id_pressoire">
                  {% for pressoire in lespressoires %}
                  <option value="{{pressoire.id}}" {% if data.pressoire.id == pressoire.id %} selected {% endif %}>{{pressoire.nom}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group form-actions">
              <button class="btn btn-sm btn-primary" type="submit">Modifier</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        {% for benne in bennes %}
        {% if forloop.first %}
        <div id="duplicater">
          {% endif %}
          <div class="card">
            <div class="card-header">Benne</div>
            <div class="card-body">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text">Numéro :</span></div>
                  <select name="benne" class="form-control">
                    {% for ben in lesbennes %}
                    <option value="{{ben.id}}" {% if benne.benne.id == ben.id %} selected{% endif %}>
                      {{ben.idBenne}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text">Volume :</span></div>
                  <input class="form-control" type="text" name="volBenne" value="{{ benne.volBenne|asfloat }}">
                </div>
              </div>
              {% if not forloop.first %}
              <button class="btn btn-sm btn-danger" onclick="remove(this)" type="button">Retirer</button>
              {% endif %}
            </div>
          </div>
          {% if forloop.first %}
        </div>
        {% endif %}
        {% endfor %}
        <div class="card" id="card-button">
          <div class="card-body">
            <button class="btn btn-outline-success btn-lg btn-block" onclick="duplicate()" type="button">+ Ajouter une
              nouvelle benne</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</form>

{% endblock content %}

{% block javascripts %}
<script>
  var index = 1;
  var original = document.getElementById('duplicater');

  function duplicate() {
    var d1 = document.getElementById('card-button');
    var clone = original.cloneNode(true);
    clone.id = "duplicater" + ++index;
    var card_node = null;
    for (var i = 0; i < clone.childNodes.length; i++) {
      if (clone.childNodes[i].className == "card") {
        card_node = clone.childNodes[i];
        break;
      }
    }
    
    var card_body_node = null;
    for (var i = 0; i < card_node.childNodes.length; i++) {
      if (card_node.childNodes[i].className == "card-body") {
        card_body_node = card_node.childNodes[i];
        break;
      }
    }


    card_body_node.innerHTML += "<button class=\"btn btn-sm btn-danger\" type=\"button\" onclick=\"remove(this)\" >Retirer</button>";
    d1.insertAdjacentHTML('beforebegin', clone.innerHTML);
  }

  function remove(clicked_id) {
    var el = clicked_id.parentNode.parentNode;
    el.remove();
  }
</script>
{% endblock javascripts %}