{% extends "layouts/base-site.html" %}

{% block title %} SHOW - Marcs {% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header"><i class="fa fa-align-justify"></i> Liste des marcs</div>
      <div class="card-body">
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>N° Marc</th>
			        <th>Volume</th>
              <th>Pressoire</th>
              <th>Bennes</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
{% for row in data %}
            <tr>
              <td>{{ row.idMarc }}</td>
              <td>{{ row.volumeMarc }}</td>
              <td>{{ row.pressoire }}</td>
              <td>{% for benne in row.bennes.all %}
                {{ benne.idBenne }}
                {% endfor %}</td>
              <td>
                <a href="edit/{{ row.id }}"><span class="badge badge-warning">Modifier</span></a>
                <a href="delete/{{ row.id }}"><span class="badge badge-danger">Supprimer</span></a>
              </td>
            </tr>
{% endfor %}
          </tbody>
        </table>
        <center><a href="create" class="btn btn-primary">Ajouter un nouveau marc</a></center>
      </div>
    </div>
  </div>
  <!-- /.col-->
</div>
<!-- /.row-->
{% endblock content %}

{% block javascripts %}
<!-- Specific Page JS goes HERE  -->
{% endblock javascripts %}
