{% extends "layouts/base-site.html" %}

{% block title %} EDIT - Parcelles {% endblock %}

{% block content %}

<form method="POST" class="post-form" action="/parcelles/update/{{ parcelle.numIlot }}">
        {% csrf_token %}
    <div class="container">
<div class="row">
  <div class="col-sm-8">
    <div class="card">
      <div class="card-header">Mise à jour de la parcelle {{ parcelle.nomParcelle }}</div>
      <div class="card-body">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text">Numéro d'ilot :</span></div>
              <input class="form-control" id="id_numIlot" type="text" name="numIlot" value="{{ parcelle.numIlot }}">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text">Nom de parcelle :</span></div>
              <input class="form-control" id="id_nomParcelle" type="text" name="nomParcelle" value="{{ parcelle.nomParcelle }}">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text">Appellation :</span></div>
              <input class="form-control" id="id_appellation" type="text" name="appellation" value="{{ parcelle.appellation }}">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text">Domaine :</span></div>
              <input class="form-control" id="id_domaine" type="text" name="domaine" value="{{ parcelle.domaine }}">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text">Surface :</span></div>
              <input class="form-control" id="id_surface" type="text" name="surface" value="{{ parcelle.surface }}">
            </div>
          </div>
          <div class="form-group form-actions">
            <button class="btn btn-sm btn-primary" type="submit">Modifier</button>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
</form>

{% endblock content %}

{% block javascripts %}
<!-- Specific Page JS goes HERE  -->
{% endblock javascripts %}
