{% extends "layouts/base-site.html" %}

{% block title %} INDEX - Parcelles {% endblock %}

{% block content %}

<form method="POST" class="post-form" action="/parcelles/create">
        {% csrf_token %}
    <div class="container">
<div class="row">
  <div class="col-sm-8">
    <div class="card">
      <div class="card-header">Creation d'une nouvelle parcelle</div>
      <div class="card-body">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text">Numéro d'ilot :</span></div>
              {{ form.numIlot }}
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text">Nom de parcelle :</span></div>
              {{ form.nomParcelle }}
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text">Appellation :</span></div>
              {{ form.appellation }}
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text">Domaine :</span></div>
              {{ form.domaine }}
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text">Surface :</span></div>
              {{ form.surface }}
            </div>
          </div>
          <div class="form-group form-actions">
            <button class="btn btn-sm btn-primary" type="submit">Submit</button>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
</form>

{% endblock content %}

{% block javascripts %}
<!-- Specific Page JS goes HERE  -->
{% endblock javascripts %}
